@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

.cf-theme {
  --cf-major-keys-fill: #ccdbff;
  --cf-major-keys-fill-hover: #7a839e;
  --cf-major-keys-fill-selected: #7a839e;
  --cf-minor-keys-fill: #ccdbff;
  --cf-minor-keys-fill-hover: #7a839e;
  --cf-minor-keys-fill-selected: #7a839e;
  --cf-diminished-keys-fill: #ccdbff;

  --cf-stroke-color: #0c1530;
  --cf-stroke-width: 3px;
  --cf-text-color: #0c1530;

  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
